.calendarDiv {
  display: flex;
  align-items: center;
}

.calendarDiv > img {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.calendarDiv > button{
    color: #57698a;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}

.calendar{
  display: block;
  margin-left: 10px;
}

.react-calendar{
  max-width: 250px;
}

@media screen and (max-width: 601px) {
  .calendarDiv{
    justify-content: flex-start;
    margin: 3px 0;
  }
  .calendar{
    display: block;
    justify-content: flex-start;
    margin: 3px 0;
  }
}