.calendarDiv {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}

.calendarDiv > img {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.calendarDiv > button{
    color: #57698a;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
