.maintable {
  color: #57698a;
  background-color: #fbfbfb;
  width: 100%;
  border: 1px solid lightgrey;
  table-layout: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }
}

.maintable > tbody > tr > td {
  padding: 5px 10px;
  color: #57698a;
}

.maintable > thead > tr {
  background-color: #f1f1f4;
}

.maintable > thead > tr > th {
  text-align: start;
  padding: 2px 10px;
}

.actiondata {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.campaign {
  display: flex;
  align-items: center;
}

.campaign > img {
  width: 40px;
  height: 40px;
  padding: 2px;
}

.campaign-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.campaign-text > .bold {
  font-weight: 600;
  margin-bottom: 2px;
  padding: 2px;
}
.campaign-text > .semibold {
  font-weight: 200;
  padding: 2px;
}

.csv-container > img,
.report-container > img {
  width: 25px;
  height: 25px;
}

.csv-container > span,
.report-container > span {
  padding: 2px 6px;
}

.csv-container,
.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-container {
  margin-left: 10px;
}

.date-container {
  display: flex;
  flex-direction: column;
}

.date-container > .bold {
  font-weight: 600;
  margin-bottom: 2px;
  padding: 2px;
}
.date-container > .semibold {
  font-weight: 200;
  font-style: italic;
  padding: 2px;
}

.maintable > tbody > tr > td:nth-of-type(1) {
  width: 11%;
}

.maintable > tbody >tr >  td:nth-of-type(2) {
  width: 24%;
}

.maintable > tbody >tr >  td:nth-of-type(3) {
  width: 19%;
}

.maintable > tbody > tr > td:nth-of-type(4) {
  width: 46%;
}

.maintable > thead > tr > th:nth-of-type(1) {
  width: 11%;
}

.maintable > thead > tr > th:nth-of-type(2) {
  width: 24%;
}

.maintable > thead > tr > th:nth-of-type(3) {
  width: 19%;
}

.maintable > thead > tr > th:nth-of-type(4) {
  width: 46%;
}

@media screen and (max-width: 601px) {
  .maintable {
    word-wrap: break-word;
  }
  table.maintable thead {
    display: none;
  }
  table.maintable > tbody > tr > td {
    display: block;
    float: left; /* ie9 and under hack */
    width: 100% !important;
    clear: both;
    background: #f5f5f5;
    padding: 10px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  table.maintable tbody,
  table.maintable tbody > tr {
    display: block;
  }
  .maintable > tbody > tr > td:before {
    content: attr(data-th);
    display: block;
    font-weight: bold;
    margin: 0 0 2px;
    color: #000;
  }
  .maintable tbody tr {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .actiondata {
    display: block;
  }
  .csv-container,
  .report-container {
    justify-content: flex-start;
    margin: 3px 0;
  }
}
